/* line 9, ../sass/style.scss */
body {
  margin: 0; }

/* line 13, ../sass/style.scss */
.top {
  width: 100%;
  height: 60px;
  background-color: #D3520A;
  border-bottom: 1px solid #AD4308; }
  /* line 19, ../sass/style.scss */
  .top a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    line-height: 60px;
    margin: 0% 5% 0% 0%;
    float: right;
    font-family: "Raleway", sans-serif; }

/* line 30, ../sass/style.scss */
.left {
  float: left;
  display: inline-block;
  margin: 0% 0% 0% 5%; }

/* line 36, ../sass/style.scss */
form.changeuser {
  width: 10%;
  display: inline;
  line-height: 60px; }
  /* line 41, ../sass/style.scss */
  form.changeuser label {
    margin-right: 10px;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: bold; }
  /* line 49, ../sass/style.scss */
  form.changeuser input {
    color: #fff;
    background-color: #DE560A;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #AD4308;
    height: 10px; }
  /* line 58, ../sass/style.scss */
  form.changeuser input#textuser {
    padding: 10px; }
  /* line 62, ../sass/style.scss */
  form.changeuser button {
    border-radius: 5px;
    border: 1px solid #AD4308;
    color: #fff;
    background-color: #DE560A;
    height: 32px;
    font-family: "Raleway", sans-serif;
    width: 60px; }

/* line 73, ../sass/style.scss */
.recenttracks {
  float: left;
  border: 1px solid #D6D6D6;
  width: 30%;
  height: 750px;
  margin: 3%;
  background: #fafafa;
  border-radius: 3px; }

/* line 83, ../sass/style.scss */
.charts {
  float: right;
  border: 1px solid #D6D6D6;
  width: 57%;
  height: 330px;
  margin: 3%;
  background: #fafafa;
  border-radius: 3px; }
