/* line 12, ../sass/style.scss */
body {
  margin: 0; }

@media (max-width: 580px) {
  /* line 16, ../sass/style.scss */
  .logo {
    display: none; } }

/* line 24, ../sass/style.scss */
.top {
  width: 100%;
  height: 4em;
  background-color: #D9540A;
  border-bottom: 1px solid #B54608;
  margin-bottom: 3%; }
  /* line 31, ../sass/style.scss */
  .top h1 {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    line-height: 65px;
    margin: 0% 5% 0% 0%;
    float: right;
    font-family: "Raleway", sans-serif;
    font-weight: 600; }
  /* line 42, ../sass/style.scss */
  .top a {
    color: #fff;
    text-decoration: none;
    font-size: 40px;
    line-height: 65px;
    margin: 0% 0% 0% 0%;
    float: right;
    padding-right: 5px;
    font-family: "Raleway", sans-serif;
    font-weight: 600; }

/* line 55, ../sass/style.scss */
.left {
  float: left;
  display: inline-block;
  margin: 0% 0% 0% 5%;
  line-height: 64px; }

/* line 62, ../sass/style.scss */
form.changeuser {
  width: 10%;
  display: inline;
  line-height: 60px; }
  /* line 67, ../sass/style.scss */
  form.changeuser label {
    margin-right: 10px;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 12px;
    font-weight: bold; }
  /* line 75, ../sass/style.scss */
  form.changeuser input {
    color: #fff;
    background-color: #ED5C0B;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #B54608;
    height: 10px; }
  /* line 84, ../sass/style.scss */
  form.changeuser input#textuser {
    padding: 10px; }
  /* line 88, ../sass/style.scss */
  form.changeuser button {
    border-radius: 5px;
    border: 1px solid #B54608;
    color: #fff;
    background-color: #ED5C0B;
    height: 32px;
    font-family: "Raleway", sans-serif;
    width: 60px;
    font-weight: 700; }

/* line 100, ../sass/style.scss */
nav.right {
  float: right;
  width: 35%;
  margin: 0% 3% 0% 0%;
  display: inline-block;
  height: 60px; }

/* line 108, ../sass/style.scss */
.about {
  margin: 0%;
  float: right;
  padding: 0; }
  /* line 113, ../sass/style.scss */
  .about a {
    display: inline;
    line-height: 70px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px 0px 5px; }

/* line 125, ../sass/style.scss */
.about a:hover {
  color: #000; }

/* line 129, ../sass/style.scss */
.main {
  width: 97%;
  height: auto;
  margin: 0 auto; }

@media (min-width: 1400px) {
  /* line 136, ../sass/style.scss */
  .main {
    width: 90%; } }
/* line 141, ../sass/style.scss */
.recenttracks {
  float: left;
  border: 1px solid #E0E0E0;
  width: 33%;
  height: 790px;
  margin: 0% 0% 3% 0%;
  background: #fafafa;
  border-radius: 3px; }
  /* line 150, ../sass/style.scss */
  .recenttracks h2 {
    font-family: "Raleway", sans-serif;
    color: #3C393C;
    padding: 0px 0px 0px 25px; }
  /* line 156, ../sass/style.scss */
  .recenttracks li {
    font-family: "Raleway", sans-serif;
    color: #3C393C;
    padding-bottom: 20px; }
  @media (max-width: 1000px) {
    /* line 141, ../sass/style.scss */
    .recenttracks {
      display: none; } }

/* line 168, ../sass/style.scss */
.recenttrackssmall {
  float: left;
  border: 1px solid #E0E0E0;
  width: 33%;
  height: 790px;
  margin: 3% 0% 3% 0%;
  background: #fafafa;
  border-radius: 3px;
  display: none; }
  @media (max-width: 1050px) {
    /* line 168, ../sass/style.scss */
    .recenttrackssmall {
      display: block;
      width: 70%; } }
  @media (max-width: 700px) {
    /* line 168, ../sass/style.scss */
    .recenttrackssmall {
      width: 100%; } }

/* line 188, ../sass/style.scss */
.charts {
  float: right;
  border: 1px solid #E0E0E0;
  width: 63%;
  height: 430px;
  margin: 0% 0% 3% 0%;
  background: #fafafa;
  border-radius: 3px; }
  @media (max-width: 1000px) {
    /* line 188, ../sass/style.scss */
    .charts {
      width: 100%;
      margin: 3% 0% 3% 0%; } }
  /* line 202, ../sass/style.scss */
  .charts h2 {
    font-family: "Raleway", sans-serif;
    color: #3C393C;
    padding: 0px 0px 0px 25px; }

/* line 209, ../sass/style.scss */
#rect {
  fill: #D9540A; }
