@import "compass/css3";
@import "compass/css3/box-sizing";

$orange:#D3520A;
$orange-dark:#AD4308;
$orange-light:#DE560A;
$off-white:#EDEDED;
$light-grey:#E0E0E0;
$orange-new:#B84709;
$font:"Raleway", sans-serif;

body{
	margin:0;
}

.logo{
	@media (max-width:580px){
		display:none;
	}
}

.top{
	width:100%;
	height:4em;
	background-color:$orange;
	border-bottom:1px solid $orange-dark;
	margin-bottom:3%;

	h1{
		color:#fff;
		text-decoration: none;
		font-size:40px;
		line-height:65px;
		margin:0% 5% 0% 0%;
		float:right;
		font-family:$font;
		font-weight:600;
	}

	a{
		color:#fff;
		text-decoration: none;
		font-size:40px;
		line-height:65px;
		margin:0% 5% 0% 0%;
		float:right;
		font-family:$font;
		font-weight:600;
	}
}

.left{
	float:left;
	display:inline-block;
	margin:0% 0% 0% 5%;
	line-height:64px;
}

form.changeuser{
	width:10%;
	display:inline;
	line-height:60px;

	label{
		margin-right:10px;
		font-family:$font;
		color:#fff;
		font-size:12px;
		font-weight:bold;
	}

	input{
		color:#fff;
		background-color:$orange-light;
		margin-right:15px;
		border-radius:5px;
		border:1px solid $orange-dark;
		height:10px;
	}

	input#textuser{
		padding:10px;
	}

	button{
		border-radius:5px;
		border:1px solid $orange-dark;
		color:#fff;
		background-color:$orange-light;
		height:32px;
		font-family:$font;
		width:60px;
	}
}

nav.right{
	float:right;
	width:35%;
	margin:0% 3% 0% 0%;
	display:inline-block;
	height:60px;
}

.about{
	margin:0%;
	float:right;
	padding:0;

	a{
	display:inline;
	line-height:70px;
	color:#fff;
	font-family:$font;
	font-size:12px;
	font-weight:bold;
	padding:0px 5px 0px 5px;
}
}


.about a:hover{
	color:#000;
}

.main{
	width:90%;
	height:auto;
	margin:0 auto;
}

.recenttracks{
	float:left;
	border:1px solid $light-grey;
	width:33%;
	height:790px;
	margin:0% 0% 3% 0%;
	background:#fafafa;
	border-radius:3px;

	@media(max-width:1000px){
		display:none;

	}
}

.recenttrackssmall{
	float:left;
	border:1px solid $light-grey;
	width:33%;
	height:790px;
	margin:3% 0% 3% 0%;
	background:#fafafa;
	border-radius:3px;
	display:none;

	@media (max-width:1050px){
	display:block;
	width:70%;
}

	@media (max-width:700px){
		width:100%;
	}
}

.charts{
	float:right;
	border:1px solid $light-grey;
	width:63%;
	height:430px;
	margin:0% 0% 3% 0%;
	background:#fafafa;
	border-radius:3px;

	@media (max-width:1000px){
		width:100%;
		margin:3% 0% 3% 0%;
	}

	h2{
		font-family:$font;
		color:#3C393C;
		padding:0px 0px 0px 25px;
	}
}	

#rect{
	fill:$orange;
}
