<!DOCTYPE html>
<html lang="en" ng-app="lastchart">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.5.1.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="http://cdn.oesmith.co.uk/morris-0.5.1.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
	<script src="scripts/uirouting.js"></script>
	<script src="scripts/app.js"></script>
	<title>LastChart - See Last.fm scrobble history better</title>
</head>
<body>
<div class="top">
	<div class="left">
			<form action="user" class="changeuser">
				<label for="changeuser"  class="changeuser">Change User</label>
				<input type="text" ng-model="search.content" id="textuser">
				<button type="button" ng-click="search.completeSearch()">Submit</button>
			</form>
	</div>
<nav class="right">
	<ul class="about">
		<a href="http://jamesbonder.co.uk/">about</a>
	</ul>
<a href="index.html" class="logo"><h1>LastChart</h1></a>
</nav>	
</div>
<main jem-view="main">

</main>
</div>
</body>
</html>