<section class="main" ng-controller="mainController as ctrl">
	<div class="recenttracks">
		<h2>Latest Scrobbles</h2>
			<ul>
				<li ng-repeat="track in recentTracks" class="recent"><img src="{{track.image}}" class="albumart"><p><span>{artist.name}}</span><br>{{track.name}}</p></li>
			</ul>
	</div>
		<div class="charts">
			<h2>Top 10 Artists</h2>
				<div id="topartists"></div>
		</div>
		<div class="charts">
			<h2>Top 10 Tracks</h2>	
				<div id="toptracks"></div>
		</div>
		<div class="charts">
			<h2>Top 10 Albums</h2>
				<div id="topalbums"></div>	
		</div>
		<div class="recenttrackssmall">
			<h2>Latest Scrobbles</h2>
			<ul>
				<li ng-repeat="track in recentTracks" class="recent"><img src="{{track.image}}" class="albumart">{{track.name}}</li>
			</ul>
		</div>
</section>
